# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=pet_projects

# App
SECRET_KEY=
ACCESS_TOKEN_EXPIRATION_MINUTES=
DEFAULT_SUPERUSER_EMAIL=
CORS_ALLOWED_ORIGINS=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
# DATABASE_URL=sqlite:///./pet_projects.db

# pgAdmin
PGADMIN_DEFAULT_EMAIL=${DEFAULT_SUPERUSER_EMAIL}
PGADMIN_DEFAULT_PASSWORD=
